* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #fce8d3; /* Light orange background color */
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #f06c61; /* Orange-red background color */
    color: #fff; /* White text color */
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #f06c61; /* Orange-red background color */
    color: black;
}

/* add styles for the poem content */

article {
    text-align: center;
    line-height: 1.4;
    font-family: 'Times New Roman', serif;
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

section {
    margin-bottom: 1rem;
}

article p {
    margin-bottom: 1.5rem;
}


.carousel {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}

.carousel-image {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-image:first-child {
    display: block;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.recipe-image-container {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}




/* Mobile Responsiveness */

@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    nav a {
        padding: 10px 12px;
    }

    .carousel-image {
        object-fit: cover; /* Resize images to fit the carousel */
        max-height: 50vh;
    }
}


/* Add these styles to your styles.css file for the table */
.table-title {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

#searchInput {
  display: block;
  margin: 1rem auto;
  width: 80%;
  max-width: 300px;
  padding: 0.5rem;
}

table {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #333;
}

th, td {
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #f06c61;
  color: white;
  cursor: pointer;
}

/* Add styles for the table container */
.table-container {
  overflow-x: auto; /* Enable horizontal scrolling when the content overflows */
  width: 100%; /* Set the container width to 100% */
}

/* Add styles for the table */
#moabs-table {
  width: 100%; /* Set the table width to 100% */
  border-collapse: collapse; /* Collapse the table borders */
}
